<section class="max-w-7xl lg:mx-auto mx-4 my-4 lg:my-2 bg-slate-100 p-8 rounded-lg">
    <h2 class="text-2xl lg:text-3xl font-extrabold mb-4 text-center uppercase text-blue-500">
        Formulario de usuario
    </h2>

    <div *ngIf="isLoading; else formContent" class="text-center">
        <p class="text-gray-500">Cargando datos...</p>
    </div>

    <ng-template #formContent>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col gap-2">
                <h1 class="text-xl lg:text-2xl font-bold italic text-start md:text-center py-2 text-gray-500">
                    Información personal</h1>
                <div class="grid md:grid-cols-2 gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="Tipo_Documento">Tipo de Documento:</label>
                        <select id="Tipo_Documento" formControlName="Tipo_Documento"
                            class="border border-gray-100 p-2 rounded-lg">
                            <option value="CC">CC</option>
                            <option value="CE">CE</option>
                            <option value="TI">TI</option>
                        </select>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="Documento">Documento:</label>
                        <input id="Documento" type="number" formControlName="Documento"
                            placeholder="Ingresa tu número de documento" class="border border-gray-100 p-2 rounded-lg">
                    </div>
                </div>
                <h1 class="text-xl lg:text-2xl font-bold italic text-gray-500 text-start md:text-center my-4">
                    Información de contacto</h1>
                <div class="grid md:grid-cols-2 gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="Nombres">Primer nombre:</label>
                        <input id="Nombres" type="text" formControlName="Nombres"
                            class="border border-gray-100 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="Nombre">Segundo nombre:</label>
                        <input id="Nombre" type="text" formControlName="Nombre"
                            class="border border-gray-100 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="Apellido_paterno">Primer Apellido:</label>
                        <input id="Apellido_paterno" type="text" formControlName="Apellido_paterno"
                            class="border border-gray-100 p-2 rounded-lg">
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="Apellido_materno">Segundo Apellido:</label>
                        <input id="Apellido_materno" type="text" formControlName="Apellido_materno"
                            class="border border-gray-100 p-2 rounded-lg">
                    </div>
                </div>
                <h1 class="text-xl lg:text-2xl font-bold italic text-gray-500 text-start md:text-center">Información
                    Adicional</h1>
                <div class="flex flex-col gap-2">
                    <label for="Sexo">Género:</label>
                    <select id="Sexo" formControlName="Sexo" class="border border-gray-100 p-2 rounded-lg">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="telefono_principal">Teléfono:</label>
                    <input id="telefono_principal" type="number" formControlName="telefono_principal"
                        placeholder="Ingresa tu número de teléfono" class="border border-gray-100 p-2 rounded-lg">
                </div>
                <div class="flex flex-col gap-2">
                    <label for="Mail">Correo:</label>
                    <input id="Mail" type="email" formControlName="Mail" class="border border-gray-100 p-2 rounded-lg"
                        placeholder="Ingresa tu correo electrónico">
                </div>
                <button type="submit"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg my-4 lg:my-1">
                    Actualizar
                </button>
            </div>
        </form>
    </ng-template>
</section>